*.class

# Package Files #
*.jar
*.war
*.ear



######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Maven
######################
target/
dist/
.scannerwork/
.mvn/
**/pom.xml.versionsBackup

######################
# Angular
######################
node_modules/

######################
# Custom
######################
docker/
docker-compose.yml
frontend/frontend-client/coverage/*
frontend/frontend-client/node_modules/*
frontend/frontend-client/dist/*