*.class

# Package Files #
*.jar
*.war
*.ear



######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Maven
######################
target/
.mvn/
**/pom.xml.versionsBackup

######################
# Angular
######################
node_modules/
