<div class="app-container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
     <h1>{{ title }}</h1>
     <iframe width="500px" height="300px" src="https://youtube.com/embed/dQw4w9WgXcQ"></iframe>   
  </div>
  <p>Things to do:</p>
  <ul>
    <li><button (click)="giveYouUp()">Never gonna give you up</button></li>
    <li><button (click)="letYouDown()">Never gonna let you down</button></li>
    <li><button (click)="runAroundAdnDesert()">Never gonna run around and desert you</button></li>
  </ul>
  <router-outlet></router-outlet>
</div>